* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #383838;
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;
    color: #5c5c5c;
    margin: 0px;
    font-size: 1.1rem;
}

.loading-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

.loading-message {
    color: #fff;
}

.lds-hourglass {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 32px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-hourglass 1.2s infinite;
  }
  @keyframes lds-hourglass {
    0% {
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
      transform: rotate(900deg);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
      transform: rotate(1800deg);
    }
  }

header {
    background-color: #ff0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hamburger, .cross {
    padding: 1rem;
    font-size: 2rem;
    cursor: pointer;
}

.hidden {
    display: none;
}

h1 {
    font-weight: 700;
    text-align: center;
    font-style: italic;
    width: 90%;
    margin: auto;
}

.menu {
    background: #383838;
    color: white;
    position: absolute;
    padding: 1rem;
    width: 75%;
}

.option {
    display: flex;
    padding: 1.5rem 0;
    cursor: pointer;
}

.option-check {
    flex-basis: 20%;
}

.option-value {
    flex-basis: 80%;
}

.competitor-card {
    border-radius: 5px;
    padding: 0.5rem;
    background-color: white;
    width: 60%;
    margin: 1rem auto;
}

.ashmore, .rider, .team-header, .rider-header {
    display: flex;
}

.ashmore {
    padding-bottom: 0.5rem; 
}

.rider {
    padding-bottom: 0.25rem;  
}

.riders {
    font-size: 1rem;
}

.competitor-name, .competitor-score, .team-header div, .rider-header div {
    flex-basis: 33%;
    padding-right: 0.5rem;
}

.team-header, .rider-header {
    font-size: 0.7rem;
    font-weight: bold;
}


@media only screen and (max-width: 550px) {
    .competitor-card {
        width: 90%;
    }
}

.bar-section {
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #e0e0e0;
    margin-bottom: 0.75rem;
}

.riders .bar-section {
    height: 2rem;
}

.bar {
    background-color: crimson;
    border-radius: 5px;
    height: 50%;
}

.hidden {
    visibility: hidden;
    height: 0;
    display: none;
}

.jerseys {
    display: flex;
}

.shirt-container {
    background-color: #383838;
    border-radius: 50%;
    width: 1.75rem;
    height: 1.75rem;;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5rem;
}

.riders .jerseys .shirt-container {
    height: 1.5rem;
    width: 1.5rem;
}

.fa-tshirt-yellow {
    color: #ff0;
}

.fa-tshirt-green {
    color: #5ecc5e;
}

.fa-tshirt-red {
    color: #f04137;
}

.fa-tshirt-white {
    color: white;
}

.plus, .minus, .fa-plus, .fa-minus {
    font-size: 1.75rem;
    cursor: pointer;
}

.fa-minus {
    margin-bottom: 1rem;
}
